.button {
  background: $highlight;
  color: white;
  font-weight: $bold-weight;
  text-align: center;
  display: inline-block;
  min-width: 169px;
  padding: 1.5em 3em;
  border: none;
  margin: 20px 0;
  &:hover, &:focus {
    color: white;
    text-decoration: none;
    outline: 0;
  }
  @media (max-width: 400px) {
    padding: 1em 1.3em;
  }
}

.button-shadow {
  box-shadow: 0px 0px 11px rgba(99, 99, 99, 0.25);
}
