.down-arrow {
  background: $highlight;
  width: 44px;
  height: 44px;
  position: relative;
  border-radius: 50%;
  margin: -22px auto 0;


  img {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
