#logo {
  max-height: 100%;
  width: auto;
}


.behind-nav-block {
  height: 63px;
  box-shadow: 10px 0px 121px $text-dark;
  position: relative;
  z-index: 1;
  @media (max-width: 991px) {
    display: none;
  }
}

.navbar-default {//main navbar
  @media (min-width: 991px) {
    position: fixed;
  }
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: $bg-light;
  padding: .5em 1em;
  border: none;
  margin: 0;
  border-radius: 0;

  .navbar-brand {//logo container
    padding: 3px 0;
  }

  .rw-navbar-toggle {//hamburger menu icon
    border: none;
    &:focus, &:hover {
      background: none;
    }
    .icon-bar {
      background-color: $text-dark;
    }
  }

  .rw-navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;

    &:focus {
      outline: 0;
    }

    // Bars
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
    }
    .icon-bar + .icon-bar {
      margin-top: 4px;
    }

  }

  .navbar-nav {

    //active navbar item
    .current-menu-item {
      a, a:focus, a:hover {
        color: $highlight;
        background: none;
        font-weight: $bold-weight;
        outline: 0;
      }
    }

    li {
      a {//regular navbar item
        color: $text-dark;
        font-weight: $regular-weight;
        text-transform: uppercase;
      }
    }

    .language, .language a {//navbar language list items
      color: $text-gray;
    }

    li.language > a {//navbar language selector spacing
      padding-right: 6px;
    }
    li.language:last-child > a {
      padding-left: 6px;
    }

    .language-active a {
      color: $text-dark;
    }

    @media (min-width: 768px) {//give navbar the language divider ("/") container the same properties as the other navbar items
      li {
        span {
          position: relative;
          display: block;
          padding: 12px 0;
          font-size: 1.45em;
        }
      }
    }
  }
}

#burger {
    width: 25px;
    margin-top: 5px;
}

.mobile-menu-container {
  background: rgba(0,0,0,0.05);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  text-align: left;
}

  .mobile-menu-header {
    background-image: url("/img/drawer-guitar.jpg");
    background-color: $highlight;
    background-blend-mode: multiply;
    background-size: cover;
    padding: 0;

    h6 {
      color: $text-light;
      font-size: 1.9em;
      padding: 1.2em;
      span {
        font-size: .6em;
      }
    }
  }

  .mobile-menu {
    background: $bg-light;
    height: 100%;
    display: inline-block;
    float: right;
    min-width: 260px;
    font-size: 1.1em;
    position: relative;
    right: -300px;
    transition: .5s all ease-in;

    ul {
      padding: 1em 2em;
    }
    li {
      padding: 1em 0;
    }
    a {
      color: $text-dark;
    }

    //active navbar item
    .active {
      a, a:focus, a:hover {
        color: $highlight;
        background: none;
        font-weight: $bold-weight;
        outline: 0;
      }
    }
  }
  .show-menu {
    right: 0;
  }
