.past-clients-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  padding: 60px 0 30px 0;
  img {
    @media (max-width:767px) {
      max-height: 37px;
      padding: 0 20px;
    }
  }
}
