.team-member {
  text-align: left;

  img {
    border-bottom: 4px solid $highlight;
  }

  h2 {
    margin-bottom: 1.5em;
  }

  h3 {
    padding-left: 0;
    padding-top: 1em;
    font-weight: $bold-weight;
    color: $text-dark;
  }

  h4 {
    font-size: .75em;
    font-weight: $regular-weight;
  }
  @media (min-width: 767px) {
    h3 {
      font-size: 1.2em;
    }
    h4 {
      font-size: .9em;
    }
  }
  @media (min-width: 1200px) {
    h3 {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1em;
    }
  }
}
