#about {
  @media (max-width:767px) {
    background: $bg-light-gray;
    text-align: center;
  }
  @media (min-width:767px) {
    img {
      max-width: 130%;
      margin-top: -50px;
    }
  }

  @media (min-width:992px) {
    img {
      max-width: 160%;
      margin-top: -60px;
      margin-left: -120px;
    }
    .col-lg-5:first-of-type {
      width:50%;
    }
    .col-lg-5:nth-of-type(2) {
      width:40%;
    }
  }
  @media (min-width:1200px) {
    .col-lg-offset-1 {
      margin-left: 6.8%;
    }
      h3 {
        font-size: 2em;
      }
    }

  .button {
    text-align: center;
    position: relative;
    margin: 2.2em 0;
  }

  img {
    @media (max-width:767px) {
      margin: 0 auto;
    }
  }

  .container {
    div:first-of-type {
      z-index: 1;
    }
  }

  @media (min-width:768px) and (max-width:990px) {
    img {
      float: right;
      margin-top: -120px;
    }
  }
}
