#posts {
  padding: 0;
  text-align: left;

  .post {
    margin-bottom: 5em;
    &:last-child {
      margin-bottom: 0;
    }

    .post-title {
      text-transform: uppercase;
      max-width: 80%;
    }
    .post-title, .featured-image {
      margin-bottom: 1em;
    }
    .featured-image {
      margin-bottom: 2.6em;
    }
    .excerpt {
      margin-bottom: 1.1em;
    }
    hr {
      border-top: 3px solid black;
    }
  }
}

.post, .pagi {
  max-width: 676px;
}

.pagi {
  @media (max-width: 500px) {
    padding: 20px 0;
  }
  a {
    color: $text-gray;
    font-weight: $bold-weight;
    @media (min-width: 500px) {
      font-size: 1.5em;
    }
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
  .available {
    color: $highlight;
  }
}
