.blog-sidebar {
  text-align: left;
  padding-left: 30px;
  padding-right: 0;
  h3 {
    padding-left: 0;
    margin-bottom: 15px;
    color: $text-dark;
    font-weight: $bold-weight;
    font-size: 1.55em;
  }
  .archive {
    li {
      margin-bottom: 15px;
    }
  }
  .widget {
    margin-bottom: 40px;
  }

  .tags {
    li {
      display: inline-block;
      background: $bg-lighter-gray;
      padding: .5em 1em;
      margin: 2px;
      &:nth-child(even) {
        margin-left: 0px;
      }
    }
  }
  .recent-post {
    margin-bottom: 30px;
    .recent-post-title {
      text-transform: uppercase;
      font-weight: $regular-weight;
      font-size: 1.2em;
    }
    .date {
      color: $text-gray;
    }
  }
}
