#mit-spass {
  @media (max-width: 400px) {
    > .container > div {
      padding: 0;
      h2: padding 0 1em;
    }
  }
  @media (max-width:767px) {
    padding: 20px 0;
  }

  p {
    max-width: 950px;
    margin: 20px auto;
  }
}
