#rock-them {
  padding: 80px 0 0 0;
  text-align: center;

  h2 {
    span {
      color: $highlight;
    }
  }
  p {
    padding: 0 0 30px;
  }
  p, #people {
    margin: 0 auto;
  }
 #people {
    @media (min-width: 767px) {
      margin-bottom: 45px;
    }
  }
}
