#team {
  background: $bg-light-gray;
  @media (min-width: 767px) {
    padding: 60px 0;
  }

  .container {
    .col {
      @media (min-width: 450px) and (max-width: 574px) {
        width: 75%;
      }
    }
    .team-member-container {
      &:nth-child(even) {
        .team-member {
          @media (max-width: 475px) {
            position: relative;
            left: 10px;
          }
        }
    }

      @media (min-width: 575px) and (max-width: 767px) {
        width: 33%;
      }
    }
  }
}
