#work {
  padding-bottom: 50px;

  @media (min-width:767px) {
    background: $bg-lighter-gray;
    padding: 75px 0 100px;
  }
  .row {
    margin-top: 1.5em;

    .work-item {
      width:100%;
      margin: 1em 0;
      img {
        width: 100%;
      }
    }

    .more {
      background: $highlight;
      width: 100%;
      height:100px;
      @media (min-width:550px) {
        height: 150px;
      }

      @media (min-width:767px) {
        height: 89px;
      }

      @media (min-width:991px) {
        height: 120px;
      }

      h3 {
        color: $text-light;
        text-align: left;
        width: 100px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-left: 0;
        @media (min-width:1200px) {
          font-size: 1.35em;
          width:130px;
        }
      }
    }
  }
}
