html body {
  font-size:$regularSize;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  margin:0;
  padding:0;
  width:100%;
  font-size: $regularSize;
  font-family:$helvetica;
  line-height:1.3;
  overflow-x: hidden;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

ul li {
  margin:0;
  padding:0;
}

ol {
  margin:0;
  padding:0;
}
p {
  padding:0;
  @include rem("margin", 0, 0, 5, 0);
}

h1, h2, h3, h4, h5, h6 {
  padding:0;
  @include rem("margin", 0, 0, 10, 0);
  font-weight: normal;
}

fieldset {
  border:none;
  margin:0;
  padding:0;
}

button {
  cursor:pointer;
}

%clearfix {
  @include clearfix();
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.no-gutter > [class*='col-'], .no-gutter > .row {
    padding-right:0;
    padding-left:0;
}
