html {
  @media (max-width:767px) {
    text-align: center;
  }
}

h1, h2, h3 {
  color: $heading-colour;
}

h1 {
  font-weight: $bold-weight;
}

h2 {
  font-weight: $bold-weight;
  @media (max-width: 767px) {
    font-size: 1.5em;
  }
  @media (min-width:767px) {
    margin-bottom: .75em;
  }
}

h3 {
  padding-left: 2em;
  font-size: 1em;
  color: $text-gray;
}

h4 {
  font-weight: $bold-weight;
  font-size: 1.25em;
}

p {
  font-size: 1em;
  line-height: 2em;
  max-width: 650px;
  @media (min-width:767px) {
    font-size: 1.1em;
  }
}

.highlight {
	color: $highlight;
}
