// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
// $sassyLarge: 1280;
// $sassyMed: 1040;
// $sassySmall: 600;
// $sassyXSmall: 400;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 1.3em;

// ----------------------------------------------------------------------
	// Font Weights
// ----------------------------------------------------------------------
$light-weight: 300;
$regular-weight: 500;
$bold-weight: 600;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
	// Colours
// ----------------------------------------------------------------------
$text-dark: #0C0C0C;
$text-gray: #D3D3D3;
$text-dark-gray: #9E9E9E;
$text-light: #fff;
$text-date-color: #BDBDBD;

$heading-colour: #000;

$highlight: #FE4400;
$highlight-light: rgba(254, 68, 0,.5);

$bg-light: #fff;
$bg-light-gray: #ECECEC;
$bg-lighter-gray: #F4F4F4;

// ----------------------------------------------------------------------
	// Breakpoints
// ----------------------------------------------------------------------
$menu-break: 992px;
