#past-clients {
  @media (min-width:767px) {
    margin-right: -20px;
    margin-left: -20px;
  }
  h3 {
    text-align: center;
  }
  padding-bottom: 0;
}

.client-icons {
  display: flex;
  justify-content: space-between;
  @media (max-width:1000px) {
    justify-content: space-around;
  }
  flex-flow: row wrap;
  align-items: center;
  margin-top: 1.5em;
  .client-icon {
    display: inline-block;
    @media (max-width:400px) {
      width: 50%;
    }
    @media (min-width:1000px) {
      &:first-child {
        margin-left: -20px;
      }
      &:last-child {
        margin-right: -20px;
      }
    }
  }
}
