.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  li {
    border: 1px solid white;
    border-radius: 50%;
    $icon-circle-size: 33px;
    width: $icon-circle-size;
    height: $icon-circle-size;
    margin: 0 3px;
    position: relative;
  }
  img {
    height: 13px;
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
