#text-thumb {
  text-align: left;
  @media (min-width: 767px) {
    padding: 60px 0 80px 0;
  }

  p {
    margin: 0;
  }

  h2, p {
    max-width: 90%;
    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }

  h2 {
    margin-bottom: .75em;
  }

  @media (min-width: 767px) {
    .text {
      margin-top: 1.8em;
    }
  }
  @media (max-width: 767px) {
    .image {
        margin-top: 1.8em;
    }
  }
}
