html body {
  font-size: 1.3em; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.3em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;
  overflow-x: hidden; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0px 0px 10px 0px;
  margin: 0rem 0rem 0.625rem 0rem;
  font-weight: normal; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

.col-centered {
  float: none;
  margin: 0 auto; }

.no-gutter > [class*='col-'], .no-gutter > .row {
  padding-right: 0;
  padding-left: 0; }

@media (max-width: 767px) {
  html {
    text-align: center; } }

h1, h2, h3 {
  color: #000; }

h1 {
  font-weight: 600; }

h2 {
  font-weight: 600; }
  @media (max-width: 767px) {
    h2 {
      font-size: 1.5em; } }
  @media (min-width: 767px) {
    h2 {
      margin-bottom: .75em; } }

h3 {
  padding-left: 2em;
  font-size: 1em;
  color: #D3D3D3; }

h4 {
  font-weight: 600;
  font-size: 1.25em; }

p {
  font-size: 1em;
  line-height: 2em;
  max-width: 650px; }
  @media (min-width: 767px) {
    p {
      font-size: 1.1em; } }

.highlight {
  color: #FE4400; }

.container-fluid {
  padding: 0; }

section {
  padding: 40px 0; }

.button {
  background: #FE4400;
  color: white;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  min-width: 169px;
  padding: 1.5em 3em;
  border: none;
  margin: 20px 0; }
  .button:hover, .button:focus {
    color: white;
    text-decoration: none;
    outline: 0; }
  @media (max-width: 400px) {
    .button {
      padding: 1em 1.3em; } }

.button-shadow {
  box-shadow: 0px 0px 11px rgba(99, 99, 99, 0.25); }

#logo {
  max-height: 100%;
  width: auto; }

.behind-nav-block {
  height: 63px;
  box-shadow: 10px 0px 121px #0C0C0C;
  position: relative;
  z-index: 1; }
  @media (max-width: 991px) {
    .behind-nav-block {
      display: none; } }

.navbar-default {
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  padding: .5em 1em;
  border: none;
  margin: 0;
  border-radius: 0; }
  @media (min-width: 991px) {
    .navbar-default {
      position: fixed; } }
  .navbar-default .navbar-brand {
    padding: 3px 0; }
  .navbar-default .rw-navbar-toggle {
    border: none; }
    .navbar-default .rw-navbar-toggle:focus, .navbar-default .rw-navbar-toggle:hover {
      background: none; }
    .navbar-default .rw-navbar-toggle .icon-bar {
      background-color: #0C0C0C; }
  .navbar-default .rw-navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent; }
    .navbar-default .rw-navbar-toggle:focus {
      outline: 0; }
    .navbar-default .rw-navbar-toggle .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px; }
    .navbar-default .rw-navbar-toggle .icon-bar + .icon-bar {
      margin-top: 4px; }
  .navbar-default .navbar-nav .current-menu-item a, .navbar-default .navbar-nav .current-menu-item a:focus, .navbar-default .navbar-nav .current-menu-item a:hover {
    color: #FE4400;
    background: none;
    font-weight: 600;
    outline: 0; }
  .navbar-default .navbar-nav li a {
    color: #0C0C0C;
    font-weight: 500;
    text-transform: uppercase; }
  .navbar-default .navbar-nav .language, .navbar-default .navbar-nav .language a {
    color: #D3D3D3; }
  .navbar-default .navbar-nav li.language > a {
    padding-right: 6px; }
  .navbar-default .navbar-nav li.language:last-child > a {
    padding-left: 6px; }
  .navbar-default .navbar-nav .language-active a {
    color: #0C0C0C; }
  @media (min-width: 768px) {
    .navbar-default .navbar-nav li span {
      position: relative;
      display: block;
      padding: 12px 0;
      font-size: 1.45em; } }

#burger {
  width: 25px;
  margin-top: 5px; }

.mobile-menu-container {
  background: rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  text-align: left; }

.mobile-menu-header {
  background-image: url("/img/drawer-guitar.jpg");
  background-color: #FE4400;
  background-blend-mode: multiply;
  background-size: cover;
  padding: 0; }
  .mobile-menu-header h6 {
    color: #fff;
    font-size: 1.9em;
    padding: 1.2em; }
    .mobile-menu-header h6 span {
      font-size: .6em; }

.mobile-menu {
  background: #fff;
  height: 100%;
  display: inline-block;
  float: right;
  min-width: 260px;
  font-size: 1.1em;
  position: relative;
  right: -300px;
  -webkit-transition: .5s all ease-in;
          transition: .5s all ease-in; }
  .mobile-menu ul {
    padding: 1em 2em; }
  .mobile-menu li {
    padding: 1em 0; }
  .mobile-menu a {
    color: #0C0C0C; }
  .mobile-menu .active a, .mobile-menu .active a:focus, .mobile-menu .active a:hover {
    color: #FE4400;
    background: none;
    font-weight: 600;
    outline: 0; }

.show-menu {
  right: 0; }

#past-clients {
  padding-bottom: 0; }
  @media (min-width: 767px) {
    #past-clients {
      margin-right: -20px;
      margin-left: -20px; } }
  #past-clients h3 {
    text-align: center; }

.client-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5em; }
  @media (max-width: 1000px) {
    .client-icons {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
  .client-icons .client-icon {
    display: inline-block; }
    @media (max-width: 400px) {
      .client-icons .client-icon {
        width: 50%; } }
    @media (min-width: 1000px) {
      .client-icons .client-icon:first-child {
        margin-left: -20px; }
      .client-icons .client-icon:last-child {
        margin-right: -20px; } }

.past-clients-2 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: auto;
  padding: 60px 0 30px 0; }
  @media (max-width: 767px) {
    .past-clients-2 img {
      max-height: 37px;
      padding: 0 20px; } }

.team-member {
  text-align: left; }
  .team-member img {
    border-bottom: 4px solid #FE4400; }
  .team-member h2 {
    margin-bottom: 1.5em; }
  .team-member h3 {
    padding-left: 0;
    padding-top: 1em;
    font-weight: 600;
    color: #0C0C0C; }
  .team-member h4 {
    font-size: .75em;
    font-weight: 500; }
  @media (min-width: 767px) {
    .team-member h3 {
      font-size: 1.2em; }
    .team-member h4 {
      font-size: .9em; } }
  @media (min-width: 1200px) {
    .team-member h3 {
      font-size: 1.5em; }
    .team-member h4 {
      font-size: 1em; } }

#text-thumb {
  text-align: left; }
  @media (min-width: 767px) {
    #text-thumb {
      padding: 60px 0 80px 0; } }
  #text-thumb p {
    margin: 0; }
  #text-thumb h2, #text-thumb p {
    max-width: 90%; }
    @media (max-width: 767px) {
      #text-thumb h2, #text-thumb p {
        margin: 0 auto; } }
  #text-thumb h2 {
    margin-bottom: .75em; }
  @media (min-width: 767px) {
    #text-thumb .text {
      margin-top: 1.8em; } }
  @media (max-width: 767px) {
    #text-thumb .image {
      margin-top: 1.8em; } }

.social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .social-icons li {
    border: 1px solid white;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin: 0 3px;
    position: relative; }
  .social-icons img {
    height: 13px;
    position: absolute;
    left: 52%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.down-arrow {
  background: #FE4400;
  width: 44px;
  height: 44px;
  position: relative;
  border-radius: 50%;
  margin: -22px auto 0; }
  .down-arrow img {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.hero-unit {
  box-shadow: inset 1px -89px 211px -29px;
  background-size: cover;
  background-position: center;
  text-align: center; }
  .hero-unit h1 {
    font-size: 4em;
    color: #fff;
    padding: 1.5em 0; }
    @media (min-width: 650px) {
      .hero-unit h1 {
        font-size: 5em; } }
    @media (min-width: 991px) {
      .hero-unit h1 {
        font-size: 7.5em; } }

.home .hero-unit {
  background-image: url("../img/banner.jpg"); }
  .home .hero-unit h1 {
    line-height: .45em;
    width: 145px;
    margin: 0 auto;
    text-align: justify;
    padding: 0;
    color: #0C0C0C; }
    @media (min-width: 767px) {
      .home .hero-unit h1 {
        font-size: 4.5em;
        width: 170px; } }
    .home .hero-unit h1 .header-large {
      font-size: 3.1em;
      line-height: .8em;
      margin-left: -.07em; }
    .home .hero-unit h1 .header-medium {
      font-size: .6em; }
    .home .hero-unit h1 .header-small {
      font-size: .45em; }
  .home .hero-unit h2 {
    width: 170px;
    margin: 0 auto;
    text-align: justify;
    position: relative;
    left: -4px;
    font-weight: 600; }
    .home .hero-unit h2 .header-large {
      font-size: 1.2em; }
    .home .hero-unit h2 .header-medium {
      font-size: 1em; }
    .home .hero-unit h2 .header-small {
      font-size: .85em; }
  .home .hero-unit .container {
    padding: 80px 0; }
  .home .hero-unit hr {
    border-top: 10px solid #000;
    width: 165px;
    position: relative;
    left: -.26em;
    margin-top: 8px; }

.page-id-8 .hero-unit {
  background-image: url("../img/banner.jpg"); }

.page-id-17 .hero-unit {
  background-image: url("../img/banner.jpg"); }

.page-id-20 .hero-unit {
  position: relative;
  height: 35em; }
  @media (max-width: 766px) {
    .page-id-20 .hero-unit {
      background-image: url("../img/map-mobile.jpg"); } }
  @media (min-width: 767px) {
    .page-id-20 .hero-unit {
      background-image: url("../img/map-desktop.jpg"); } }
  .page-id-20 .hero-unit h4 {
    color: #fff;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.2em; }

.page-id-14 .hero-unit {
  background-image: url("../img/banner.jpg"); }
  .page-id-14 .hero-unit h1 {
    padding: .7em 0; }

#footer {
  padding: 15px;
  background: #ECECEC; }
  #footer p {
    float: left; }
    #footer p span {
      color: #FE4400; }
  #footer .social-icons li {
    border: 1px solid #CACACA; }

#work {
  padding-bottom: 50px; }
  @media (min-width: 767px) {
    #work {
      background: #F4F4F4;
      padding: 75px 0 100px; } }
  #work .row {
    margin-top: 1.5em; }
    #work .row .work-item {
      width: 100%;
      margin: 1em 0; }
      #work .row .work-item img {
        width: 100%; }
    #work .row .more {
      background: #FE4400;
      width: 100%;
      height: 100px; }
      @media (min-width: 550px) {
        #work .row .more {
          height: 150px; } }
      @media (min-width: 767px) {
        #work .row .more {
          height: 89px; } }
      @media (min-width: 991px) {
        #work .row .more {
          height: 120px; } }
      #work .row .more h3 {
        color: #fff;
        text-align: left;
        width: 100px;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        padding-left: 0; }
        @media (min-width: 1200px) {
          #work .row .more h3 {
            font-size: 1.35em;
            width: 130px; } }

@media (max-width: 767px) {
  #about {
    background: #ECECEC;
    text-align: center; } }
@media (min-width: 767px) {
  #about img {
    max-width: 130%;
    margin-top: -50px; } }
@media (min-width: 992px) {
  #about img {
    max-width: 160%;
    margin-top: -60px;
    margin-left: -120px; }
  #about .col-lg-5:first-of-type {
    width: 50%; }
  #about .col-lg-5:nth-of-type(2) {
    width: 40%; } }
@media (min-width: 1200px) {
  #about .col-lg-offset-1 {
    margin-left: 6.8%; }
  #about h3 {
    font-size: 2em; } }
#about .button {
  text-align: center;
  position: relative;
  margin: 2.2em 0; }
@media (max-width: 767px) {
  #about img {
    margin: 0 auto; } }
#about .container div:first-of-type {
  z-index: 1; }
@media (min-width: 768px) and (max-width: 990px) {
  #about img {
    float: right;
    margin-top: -120px; } }

#mit-liebe {
  background-image: url("../img/city.jpg");
  background-color: rgba(254, 68, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center; }
  @media (min-width: 767px) {
    #mit-liebe {
      background-position: top;
      padding: 100px 0; } }
  #mit-liebe h2 {
    color: white; }
  #mit-liebe p {
    background: white;
    padding: 40px;
    margin: 0 0 25px;
    max-width: 450px; }
    @media (max-width: 767px) {
      #mit-liebe p {
        margin: 25px auto; } }
    @media (min-width: 992px) {
      #mit-liebe p {
        max-width: 100%; } }
  #mit-liebe .button {
    margin: 0; }

#rock-them {
  padding: 80px 0 0 0;
  text-align: center; }
  #rock-them h2 span {
    color: #FE4400; }
  #rock-them p {
    padding: 0 0 30px; }
  #rock-them p, #rock-them #people {
    margin: 0 auto; }
  @media (min-width: 767px) {
    #rock-them #people {
      margin-bottom: 45px; } }

#blog {
  padding-bottom: 50px; }
  @media (min-width: 767px) {
    #blog {
      padding-bottom: 85px; } }
  @media (max-width: 767px) {
    #blog {
      background: #ECECEC; } }
  #blog h2 span {
    color: #FE4400;
    font-size: .7em;
    padding-left: .5em; }
    @media (min-width: 767px) {
      #blog h2 span {
        font-size: .5em;
        padding-left: 1em; } }
  #blog h4 {
    margin-top: 1.9em; }
  #blog h5 {
    color: #BDBDBD; }
  @media (max-width: 767px) {
    #blog p {
      max-width: 300px;
      margin: 0 auto;
      padding: 0 15px; } }
  @media (min-width: 767px) {
    #blog p {
      margin-bottom: 1em; } }

#team {
  background: #ECECEC; }
  @media (min-width: 767px) {
    #team {
      padding: 60px 0; } }
  @media (min-width: 450px) and (max-width: 574px) {
    #team .container .col {
      width: 75%; } }
  @media (max-width: 475px) {
    #team .container .team-member-container:nth-child(even) .team-member {
      position: relative;
      left: 10px; } }
  @media (min-width: 575px) and (max-width: 767px) {
    #team .container .team-member-container {
      width: 33%; } }

@media (max-width: 400px) {
  #mit-spass > .container > div {
    padding: 0;
    h2: padding 0 1em; } }
@media (max-width: 767px) {
  #mit-spass {
    padding: 20px 0; } }
#mit-spass p {
  max-width: 950px;
  margin: 20px auto; }

#und-hier {
  padding-bottom: 0; }
  #und-hier h2 {
    margin: 1.2em 0 2em; }
  #und-hier img {
    width: 100%; }

#subfooter {
  padding: 60px 0; }
  #subfooter p {
    font-size: 1em;
    color: #9E9E9E; }
    #subfooter p:first-child {
      padding-left: 0; }
    #subfooter p:last-child {
      padding-right: 0; }

#contact {
  text-align: center;
  background-image: url("../img/hands.png");
  background-color: #FE4400;
  background-blend-mode: multiply;
  background-size: cover;
  color: white;
  padding-bottom: 1em; }
  @media (min-width: 767px) {
    #contact {
      padding: 60px 0 10px; } }
  @media (max-width: 767px) {
    #contact .fluid-container > div {
      padding: 0; } }
  #contact h2 {
    color: white; }
  #contact p {
    margin: 0 auto; }
  #contact form {
    margin: 2em auto 1em;
    width: 100%;
    max-width: 350px; }
    #contact form input {
      width: 100%; }
    #contact form textarea {
      width: 100%; }
    #contact form input, #contact form textarea {
      border: none;
      margin: .2em 0;
      padding: .75em 2em; }
    #contact form input::-webkit-input-placeholder, #contact form textarea::-webkit-input-placeholder {
      color: #0C0C0C; }

#posts {
  padding: 0;
  text-align: left; }
  #posts .post {
    margin-bottom: 5em; }
    #posts .post:last-child {
      margin-bottom: 0; }
    #posts .post .post-title {
      text-transform: uppercase;
      max-width: 80%; }
    #posts .post .post-title, #posts .post .featured-image {
      margin-bottom: 1em; }
    #posts .post .featured-image {
      margin-bottom: 2.6em; }
    #posts .post .excerpt {
      margin-bottom: 1.1em; }
    #posts .post hr {
      border-top: 3px solid black; }

.post, .pagi {
  max-width: 676px; }

@media (max-width: 500px) {
  .pagi {
    padding: 20px 0; } }
.pagi a {
  color: #D3D3D3;
  font-weight: 600; }
  @media (min-width: 500px) {
    .pagi a {
      font-size: 1.5em; } }
.pagi .prev {
  float: left; }
.pagi .next {
  float: right; }
.pagi .available {
  color: #FE4400; }

.blog-sidebar {
  text-align: left;
  padding-left: 30px;
  padding-right: 0; }
  .blog-sidebar h3 {
    padding-left: 0;
    margin-bottom: 15px;
    color: #0C0C0C;
    font-weight: 600;
    font-size: 1.55em; }
  .blog-sidebar .archive li {
    margin-bottom: 15px; }
  .blog-sidebar .widget {
    margin-bottom: 40px; }
  .blog-sidebar .tags li {
    display: inline-block;
    background: #F4F4F4;
    padding: .5em 1em;
    margin: 2px; }
    .blog-sidebar .tags li:nth-child(even) {
      margin-left: 0px; }
  .blog-sidebar .recent-post {
    margin-bottom: 30px; }
    .blog-sidebar .recent-post .recent-post-title {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.2em; }
    .blog-sidebar .recent-post .date {
      color: #D3D3D3; }

/*# sourceMappingURL=style.css.map */