#blog {
  padding-bottom: 50px;
  @media (min-width:767px) {
    padding-bottom: 85px;
  }
  @media (max-width: 767px) {
    background: $bg-light-gray;
  }
  h2 {
    span {
      color: $highlight;
      font-size: .7em;
      padding-left: .5em;
      @media (min-width:767px) {
        font-size: .5em;
        padding-left: 1em;
      }
    }
  }
  h4 {
    margin-top: 1.9em;
  }
  h5 {
    color: $text-date-color;
  }
  p {
    @media (max-width:767px) {
      max-width: 300px;
      margin: 0 auto;
      padding: 0 15px;
    }
    @media (min-width:767px) {
      margin-bottom: 1em;
    }
  }
}
