#contact {
  text-align: center;

  background-image: url('../img/hands.png');
  background-color: $highlight;
  background-blend-mode: multiply;
  background-size: cover;

  color: white;
  padding-bottom: 1em;

  @media (min-width: 767px) {
    padding: 60px 0 10px;
  }

  .fluid-container > div {
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  h2 {
    color: white;
  }
  p {
    margin: 0 auto;
  }

  form {
    margin: 2em auto 1em;
    width: 100%;
    max-width: 350px;
    input {
      width: 100%;
    }
    textarea {
      width: 100%;
    }
    input, textarea {
      border: none;
      margin: .2em 0;
      padding: .75em 2em;
    }

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color: $text-dark;
    }
  }
}
