.hero-unit {//hero unit styles for all pages
    box-shadow: inset 1px -89px 211px -29px;
    background-size:cover;
    background-position: center;
    text-align: center;

    h1 {
      font-size: 4em;
      @media (min-width: 650px) {
        font-size: 5em;
      }
      @media (min-width: 991px) {
        font-size: 7.5em;
      }
      color: $text-light;
      padding: 1.5em 0;
    }
}

.home {
  .hero-unit {//hero unit on home page
    background-image:url('../img/banner.jpg');

    h1 {
      line-height: .45em;
      width: 145px;
      margin: 0 auto;
      text-align: justify;
      padding: 0;
      color: $text-dark;

      @media (min-width: 767px) {
        font-size: 4.5em;
        width: 170px;
      }

      .header-large {//these three classes are for the different sized text in the homepage header
        font-size: 3.1em;
        line-height: .8em;
        margin-left: -.07em;
      }
      .header-medium {
        font-size: .6em;
      }
      .header-small {
        font-size: .45em;
      }
    }

    h2 {
      width: 170px;
      margin: 0 auto;
      text-align:justify;
      position:relative;
      left: -4px;
      font-weight: $bold-weight;
      .header-large {
        font-size: 1.2em;
      }
      .header-medium {
        font-size:1em;
      }
      .header-small {
        font-size: .85em;
      }
    }

    .container {
      padding: 80px 0;
    }

    hr {
      border-top: 10px solid $heading-colour;
      width: 165px;
      position: relative;
      left: -.26em;
      margin-top: 8px;
    }
  }
}

.uber-uns {
  .hero-unit {//hero unit on uber uns page
    background-image:url('../img/banner.jpg');
  }
}

.referenzen {
  .hero-unit {
    background-image: url("../img/banner.jpg");
  }
}

.kontakt {
  .hero-unit {//hero unit on kontakt page
    position: relative;
    height: 35em;
    @media (max-width: 766px) {//mobile header image
      background-image: url("../img/map-mobile.jpg");
    }
    @media (min-width: 767px) {//desktop header image
      background-image: url("../img/map-desktop.jpg");
    }
    h4 {//text at the bottom of the map
      color: $text-light;
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      font-size: 1.2em;
    }
  }
}

.blog {
  .hero-unit {
    background-image: url("../img/banner.jpg");
    h1 {
      padding: .7em 0;
    }
  }
}
