#mit-liebe {
  background-image: url('../img/city.jpg');
  background-color: $highlight-light;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  @media (min-width:767px) {
    background-position: top;
    padding: 100px 0;
  }
  h2 {
    color: white;
  }
  p {
    background: white;
    padding: 40px;
    margin: 0 0 25px;
    @media (max-width: 767px) {
      margin: 25px auto;
    }
    max-width: 450px;
    @media (min-width:992px) {
      max-width: 100%;
    }
  }

  .button {
    margin: 0;
  }
}
